body {
  font-family: 'Oxygen', sans-serif;
  background-color: #e9ebee;
  margin: 0;
}

div,
input {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
